In [1]:
import pickle as pk

In [2]:
BASE_PATH = '../data/'
TRAIN_FILE = 'train_processed.pkl'
EVALUATION_FILE = 'test_processed.pkl'

In [3]:
with open(BASE_PATH + TRAIN_FILE, 'rb') as f:
    train = pk.load(f)

In [4]:
train

,Category,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,37,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,21,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,21,0,-122.424363,37.800414,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,16,1,-122.426995,37.800873,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,16,1,-122.438738,37.771541,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875721,25,0,-122.459033,37.714056,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875722,16,1,-122.447364,37.731948,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875723,16,0,-122.403390,37.780266,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875724,35,0,-122.390531,37.780607,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875725,12,1,-122.394926,37.738212,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [5]:
X = train.loc[:, train.columns != 'Category']
Y = train.loc[:, train.columns == 'Category']

In [6]:
X

,Address,X,Y,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,...,QuarterOfYear_0,QuarterOfYear_1,QuarterOfYear_2,QuarterOfYear_3,DayPart_afternoon,DayPart_dawn,DayPart_evening,DayPart_midnight,DayPart_morning,DayPart_noon
0,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,-122.425892,37.774599,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,-122.424363,37.800414,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,-122.426995,37.800873,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,-122.438738,37.771541,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875721,0,-122.459033,37.714056,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875722,1,-122.447364,37.731948,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875723,0,-122.403390,37.780266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875724,0,-122.390531,37.780607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
875725,1,-122.394926,37.738212,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
Y

        Category
0             37
1             21
2             21
3             16
4             16
...          ...
875721        25
875722        16
875723        16
875724        35
875725        12

[875726 rows x 1 columns]

In [22]:
# Cross validation: Random forest
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=100, random_state=0, n_jobs=4, verbose=1)

In [ ]:
import time
from sklearn.model_selection import cross_validate

t1 = time.time()
cv_results = cross_validate(clf, X, Y.values.ravel(), cv=3)
t2 = time.time()
print(f'Total time: {t2 - t1} s, {int(t2 - t1) / 60} mins')

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

In [ ]:
cv_results